.programs {
  width: 300px;
}
.select {
  background-color: #fff;
  color: #303030;
  font-size: 14px;
  padding: 10px 21px;
  width: 86%;
  font-weight: 500;
}
.options {
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: all .5s;
}
.option {
  list-style: none;
  padding: 10px 20px;
  width: 100%;
  position: relative;
  background-color: #fff;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  color: #30303080;
  cursor: pointer;
}
